body{ background-color: rgb(65, 167, 170);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50% 50%;
}

.container{
  width: 300px;
  overflow: hidden;
  box-shadow: 0px opx 15px -5px;
}

.image-container img{
  overflow: hidden;
  height: 200px;
  
}