<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>hello</title>
    <link rel="stylesheet" href="card.css">
</head>

<body>
<div class="card">
    <img src="hello.jpeg" alt="Avatar" width="150px">
    <div class="container">
        <h4><b>John Doe</b></h4>
        <p>Architect & Engineer</p>
    </div>
</div>
<div class="card">
    <img src="hostel.png" alt="Avatar" width="150px">
    <div class="container">
        <h4><b>Hostel</b></h4>
        <p>Ngeni hostel</p>
    </div>
</div>
</body>
</html>