body{
	background-color: whitesmoke;
}

.card{
	position: absolute;
	margin: 3em 0em 0em 8em;
    text-decoration: none;
}

.card button{
	border: 1px solid gainsboro;
    padding: 10px 90px;
    text-decoration: none;
    margin-right: 5px;
    background-color: gray;
    font-size: 13px;
    border-radius: 50px;
    color: gainsboro;
}

.crd{
	position: absolute;
    text-decoration: none;
	margin: 3em 0em 0em 50em;
}

.crd button{
	border: 1px solid gainsboro;
    padding: 10px 90px;
    text-decoration: none;
    margin-right: 5px;
    background-color: gray;
    font-size: 13px;
    border-radius: 50px;
    color: gainsboro;
}


.owa{
		position: absolute;
    text-decoration: none;
	margin: 14em 0em 0em 8em;

}

.owa  button{
	border: 1px solid gainsboro;
    padding: 10px 90px;
    text-decoration: none;
    margin-right: 5px;
    background-color: gray;
    font-size: 13px;
    border-radius: 50px;
    color: gainsboro;

}

.ow{
		position: absolute;
    text-decoration: none;
	margin: 14em 0em 0em 50em;
}

.ow button{
	border: 1px solid gainsboro;
    padding: 10px 90px;
    text-decoration: none;
    margin-right: 5px;
    background-color: gray;
    font-size: 13px;
    border-radius: 50px;
    color: gainsboro;
}


.o{
	position: absolute;
    text-decoration: none;
	margin: 26em 0em 0em 8em;
}

.o button{
	border: 1px solid gainsboro;
    padding: 10px 90px;
    text-decoration: none;
    margin-right: 5px;
    background-color: gray;
    font-size: 13px;
    border-radius: 50px;
    color: gainsboro;
    }

.h{
	position: absolute;
    text-decoration: none;
	margin: 26em 0em 0em 50em;
}

.h button{
	border: 1px solid gainsboro;
    padding: 10px 90px;
    text-decoration: none;
    margin-right: 5px;
    background-color: gray;
    font-size: 13px;
    border-radius: 50px;
    color: gainsboro;

}